<div class="card">
    
    <div class="card-content white-text padding-vertical-small">
        
        <div class="category-label">
            <a href="{% url 'category_view' post.category %}" class="floaty-anchor">r/{{ post.category }}</a>
            <a href="{% url 'post_view' post.slug %}" class="full-anchor"></a>
            <span class="secondary-text small light">by
                <a href="{% url 'coming_soon' 'User Profiles' %}" class="floaty-anchor">u/{{ post.author }}</a> in 
                {{ post.date_created }}</span>
        </div>
        
        <span class="card-title">{{ post.title }}</span>
        <div class="mask-content">
            <a href="/p/asd/" class="full-anchor"></a>
            <p>{{ post.content }}</p> 
        </div>
        
        {% if user.is_authenticated %}
        <div class="comments-likes">
            
            <a href="{% url 'post_view' post.slug %}" class="floaty-anchor">
                <i class="small material-icons">chat_bubble_outline</i>
            </a>
            <span class="secondary-text">{{ post.comments.count }}</span>
            {% include "wall/modules/like_button.html" %}
        </div>
        {% endif %}
    </div>
    
</div>