<div class="card">
    
    <div class="card-content white-text small-vertical-padding">
        
        <div class="category-label">
            <a href="{% url 'category_view' post.category %}" class="floaty-anchor">r/{{ post.category }}</a>
            <a href="{% url 'post_view' post.slug %}" class="full-anchor"></a>
        </div>
        
        <span class="card-title">{{ post.title }}</span>
        <div class="mask-content">
            <a href="/p/asd/" class="full-anchor"></a>
           <p class="post-content">{{ post.content }}</p> 
        </div>
        
        {% if user.is_authenticated %}
        <div class="comments-likes">
            
            <a href="#" class="floaty-anchor">
                <i class="small material-icons">chat_bubble_outline</i>
            </a> {{ post.comments.count }} 
            {% include "wall/modules/like_button.html" %}
        </div>
        {% endif %}
    </div>
    
</div>