<div id="account-widget" class="card">
    <div class="card-content padding-bottom-small">
        {% if user.is_authenticated %}
        <div id="profile-pic-container">
            <img id="profile-pic" src="{{ request.user.profile.profile_picture.url }}">
        </div>
        <span id="username" class="card-title">u/{{user.username}}</span>
        <a href="{% url 'account_logout' %}">log out</a>
        <ul id="account-widget-list" class="secondary-text">
           
            <li>{{user.email}}</li>
            <li><a href="{% url 'coming_soon' 'Saved posts' %}">saved posts</a></li>
            <li><a href="{% url 'edit_profile' %}">settings</a></li>
            
        </ul>
        <a class="btn btn-accent centered" href="{% url 'new_post' %}">create post</a>
        {% else %}
        <span class="card-title">not logged in</span>
        <ul id="account-widget">
            <li><a href="{% url 'account_login' %}">log in</a></li>
            <li><a href="{% url 'account_signup' %}">register</a></li>
        </ul>
        {% endif %}

    </div>
</div>