:root {
    --border-gray: #ffffff18;
    --transparent-gray: #1a1a1bcc;
    /* --hover-line-color: #ffffff63; */
    --hover-line-color: #ffffff44;
    --anchor-color: #00e1ff87;
    --font-color-darkmode-primary: #d7dadc;
    --font-color-darkmode-secondary: #898989;
    
}

body{
    color: var(--font-color-darkmode-primary);
}

a{
    color: var(--anchor-color);
}

.darker{
    background-color:#111111;
}

.dark-btn{
    font-size:0.9em;
    background-color: var(--anchor-color)
}

textarea{
    resize: vertical;
}

.centered{
    margin: 25px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid var(--border-gray);
    background-color: var(--transparent-gray);
    border-radius: 4px;
}

.card p{
    color: var(--font-color-darkmode-secondary);
}

.card:hover{
    border: 1px solid var(--hover-line-color);
    border-radius: 4px;
}

#categories-list{
    margin-bottom: 0px;
}

#comment-field-container{
    padding:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#comment-field-container textarea{
    color: var(--font-color-darkmode-secondary);
    border-radius: 5px;
}

#comment-field-container *{
    margin-bottom: 0px;
}

#categories-list li{
    position: relative;
    height:24px;
    width: 150px;
    
    display: block;
    padding: 0px 0px;
    margin: 0px auto 10px auto;
    border: 1px solid var(--border-gray);
    border-radius: 7px;
    background-color: #ffffff0c;
}

#categories-list li a{
    position: absolute;
    width:100%;
    text-align:center;
    color: var(--anchor-color);
}

#categories-list li:hover{
    background-color: #ffffff21;
}

.flex-container{
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1248px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.side-content{
    /* background-color:rgba(255, 0, 0, 0.37); */
    width: 250px;
    padding: 12.5px 20px 0px 20px;
}

.side-content card{
    margin:50px;
}

.feed-content{
    /* background-color:rgba(255, 166, 0, 0.431); */
    /* display: flex; */
    width: 640px;
    padding: 12.5px 20px 0px 5px;
}

#page-title{
    margin-top: 0px;
    font-size: 2em;
}

.category-label{
    font-size: 0.87em;
    color: rgba(255, 255, 255, 0.521);
    margin-bottom: 7px;
}

.small-top-padding{
    padding-top: 5px !important;
}


.card-comment{
    /* background-color: red;; */
    margin-left:50px;
}

.card-comment hr{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid #373737;
    margin: 0px 30px; 
}

.light-text{
   color: var(--font-color-darkmode-secondary);
}

.f-right{
    float:right;
}

input{
    background-color:rgb(24, 24, 24);
    color: #d7dadc !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(24, 24, 24) inset !important;
    -webkit-text-fill-color: #d7dadc !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: #d7dadc !important;
}

.padding-bottom-big{
    padding-bottom:50px !important;
}

#account-widget{
}

.padding-bottom-less{
    padding-bottom: 15px !important;
}