@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --border-gray: #ffffff18;
    --transparent-gray: #1a1a1bcc;
    /* --hover-line-color: #ffffff63; */
    --hover-line-color: #ffffff44;
    --anchor-color: #00e1ff87;
    --accent-color-primary: #00e1ff87;
    --accent-color-secondary: #2bbbad;
    --font-color-darkmode-primary: #dbdbdbe7;
    --font-color-darkmode-secondary: #757575;
}

body{
    color: var(--font-color-darkmode-primary);
    font-family: Roboto, sans-serif;
}

a{
    color: var(--anchor-color);
}

.mask-content{
    -webkit-mask-image: linear-gradient(180deg,rgb(0, 0, 0) 50%, transparent);
    mask-image: linear-gradient(180deg,#000 100%,transparent);
    padding: 5px 8px 10px;
    max-height: 100px;
    overflow: hidden;
    z-index: 0;
}

.card-content p {
    margin: 0;
    /* max-height: 100px; */
    overflow: hidden;
    padding-right: 10px;
}

.darker{
    background-color:#111111;
}

.accent-btn{
    font-size:0.9em;
    background-color: var(--accent-color-primary)
}
.accent-btn:hover{
    font-size:0.9em;
    background-color: var(--accent-color-secondary)
}

.secondary_text{
    color: var(--font-color-darkmode-secondary);
    font-weight: 200;
}

.small{
    font-size: 0.87em;
}

textarea{
    resize: vertical;
    color: var(--font-color-darkmode-secondary);
    padding:10px;
    margin: 10px 0px;
    height: 100px;
}

.dropdown-content{
    background-color: #252525;
    border-radius: 10px;
}

.dropdown-content li>span{
    color: var(--font-color-darkmode-secondary);
}

#profile-pic-container{
    height:100px;
    width: 100px;
    background-color: rgb(70, 70, 70);
    border-radius: 50%;
    margin: 0px auto 10px auto;
    overflow: hidden;
}

#profile-pic{
    height: 100px;
    width: 100px;
}

.centered{
    margin: 25px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content{
    margin-bottom: 15px;
}

.card{
    border: 1px solid var(--border-gray);
    background-color: var(--transparent-gray);
    border-radius: 4px;
}

.card p{
    color: var(--font-color-darkmode-primary);
    line-height: 1.8em;
}

.card:hover{
    border: 1px solid var(--hover-line-color);
    border-radius: 4px;
}


.bottom-right{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#comment-field-container{
    padding: 0px 15px 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#comment-field-container textarea{
    color: var(--font-color-darkmode-secondary);
    border-radius: 5px;
}

#comment-field-container *{
    margin-bottom: 0px;
}

#categories-list{
    margin-bottom: 0px;
}

#categories-list li{
    position: relative;
    height:24px;
    width: 150px;
    display: block;
    padding: 0px 0px;
    margin: 0px auto 10px auto;
    border: 1px solid var(--border-gray);
    border-radius: 7px;
    background-color: #ffffff0c;
}

#categories-list li a{
    position: absolute;
    width:100%;
    text-align:center;
    color: var(--anchor-color);
}

#categories-list li:hover{
    background-color: #ffffff21;
}

#categories-list .accent-bg{
    background-color: var(--accent-color-primary);
}

#categories-list .accent-bg:hover{
    background-color: var(--accent-color-secondary);
}

#categories-list .accent-bg a{
    color: var(--font-color-darkmode-primary);
}

.flex-container{
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1248px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.side-content{
    /* background-color:rgba(255, 0, 0, 0.37); */
    min-width: 250px;
    padding: 12.5px 5px 0px 20px;
}

.side-content card{
    margin:50px;
}

.feed-content{
    /* background-color:rgba(255, 166, 0, 0.431); */
    /* display: flex; */
    width: 640px;
    padding: 12.5px 20px 0px 20px;
}

#page-title{
    margin-top: 0px;
    font-size: 2em;
}

.module-title{
    font-weight: 400 !important;
    font-size: 24px;
    color: var(--font-color-darkmode-primary);
}

.card-title{
    font-weight: 400 !important;
    color: var(--font-color-darkmode-primary);
    margin: 10px 0px 0px 0px;
}

.floaty-anchor{
    position: relative;
    z-index: 1;
}

.full-anchor{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.category-label a{
    font-size: 0.87em;
    color: rgba(255, 255, 255, 0.521);
}

.category-label a:hover{
    text-decoration: underline;
}

.small-vertical-padding{
    padding: 5px 10px 10px 24px !important;
}


.card-comment{
    /* background-color: red;; */
    margin-left:50px;
}

.card-comment hr{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: none;
    border-top: 1px solid #373737;
    margin: 0px 30px; 
}

.light-text{
   color: var(--font-color-darkmode-secondary);
}

.f-right{
    /* float:right; */
    right: 10px;
    bottom: 10px;
    position: absolute;
}

input{
    background-color:rgb(24, 24, 24);
    color: #d7dadc !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(24, 24, 24) inset !important;
    -webkit-text-fill-color: #d7dadc !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: #d7dadc !important;
}

.padding-bottom-big{
    padding-bottom:50px !important;
}

#account-widget{
}

.padding-bottom-less{
    padding-bottom: 15px !important;
}

.comments-likes{
    text-align: right;
    margin: 15px 0px 0px 0px;
    font-size: 0.87em;
}

.comments-likes span{
    color: var(--font-color-darkmode-secondary);
}

#div_id_profile_picture label{
    display: block;
    margin-bottom: 20px;
    position: relative;
}

i.small{
    font-size: 1.4rem;
}

.material-icons{
    color: var(--font-color-darkmode-secondary)
}

.material-icons:hover{
    color:green;

}

.clear-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clear-btn:hover .material-icons{
    color:red;
}

.clear-btn:focus{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.counter{
    color: var(--font-color-darkmode-secondary);
}
.create_category-button{
    background-color: var (--accent-color-secondary);
}

.comment-author{
}

.comment-date{
    color: #afafaf91;
}

.comment-body{

}

@media only screen and (max-width: 800px) {
    .side-content {
      display: none;
    }
}