{% extends "wall/base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col s8 offset-s2 m6 offset-m3">
        <h2 id="page-title" style="margin-top: 15px;">500 - Oops<h2>
        <div class="card">
            <div class="card-content white-text small-top-padding">
                Well this is embarrassing, there's nothing to see here, get back to 
                <a href="{% url 'home' %}">safety</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}