{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Socialize with the internet at ribbit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/ribbit-favicon.png' %}" />
    <title>ribbit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="dark">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a title="go back to home" href="{% url 'home' %}" class="brand-logo">
                <div class="row">
                    <div class="col p0">
                        <img id="logo" alt="ribbit logo" src="{% static 'images/ribbit-logo.png' %}">
                    </div>
                    <div class="col p0">
                        ribbit
                    </div>
                </div>
            </a>
            <a href="/" data-target="mobile-demo" class="sidenav-trigger" title="opens menu" ><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href="{% url 'coming_soon' 'Explore' %}" title="go to explore page">explore</a></li>
                <li><a href="{% url 'edit_profile' %}" title="go to settings page">settings</a></li>
          </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}" title="user log out">log out</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}" title="user log in">log in</a></li>
            <li><a href="{% url 'account_signup' %}" title="create new account">register</a></li>
        {% endif %}
        <li><a href="{% url 'coming_soon' 'Explore' %}" title="go to explore page">explore</a></li>
        <li><a href="{% url 'edit_profile' %}"  title="go to settings page">settings</a></li>
    </ul>

    <div id="message-container">
            {% for message in messages %}
            <div class="alert {{ message.tags }} fade show ">{{message | safe}}</div>
            {% endfor %}
    </div>

  

    <section id="main">
        {% block content %}
        {% endblock content %}
    </section>

</body>
</html>