{% extends "wall/base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col s8 offset-s2 m6 offset-m3">
        <h2 id="page-title">Edit Profile</h2>
        <div class="card">
            <div class="card-content white-text small-top-padding">
                <form method="post" enctype="multipart/form-data">
                    {{ profile_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn dark-btn btn-form-br">Send</button>
                   
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}