{% extends "wall/base.html" %}

{% block content %}
    <div class="flex-container">
        <div class="side-content">
            {% include "wall/modules/user_module.html" %}
            {% include "wall/modules/explore_module.html" %}
        </div>
        <div class="feed-content">
            <h2 id="page-title">Home</h2>
            {% for post in posts %}
            
            <div class="card">
                <div class="card-content white-text small-top-padding">
                    <div class="category-label">r/{{ post.category }}</div>
                    <span class="card-title"><a href="{% url 'post_view' post.slug %}">{{ post.title }}</a></span>
                    <p>{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}