{% extends "wall/base.html" %}

{% block content %}
    <div class="flex-container">
        <div class="side-content">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title">u/Username</span>
                    <ul id="account-widget">
                        <li>Name</li>
                        <li>email</li>
                        <li>settings</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title">Explore</span>
                    <ul id="categories-list">
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                
        </div>
        <div class="feed-content">
            <h2 id="page-title">Homepage | all posts</h2>
            {% for post in posts %}
            
            <div class="card">
                <div class="card-content white-text small-top-padding">
                    <div class="category-label">r/{{ post.category }}</div>
                    <span class="card-title">{{ post.title }}</span>
                    <p>{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}