{% extends "wall/base.html" %}

{% block content %}
    <div class="flex-container">
        <div class="side-content">
            {% include "wall/modules/user_module.html" %}
            {% include "wall/modules/explore_module.html" %}
        </div>
        <div class="feed-content">
            <h2 id="page-title">Home</h2>
            {% for post in posts %}
                {% include "wall/modules/post_module.html" with post=post%}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}