{% extends "wall/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="flex-container">
        <div class="side-content">
            {% include "wall/modules/user_module.html" %}
        </div>
        
        <div class="feed-content">
            <h2 id="page-title">{{ post.title }}</h2>
            <div>by <span>u/{{ post.author }}</span> in <span><a href="{% url 'category_view' post.category.name %}">r/{{ post.category }}</a></span></div>

            <div class="card">
                <div class="card-content white-text">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            Comments:
            <div class="card card-comment">

                {% if comments.count > 0 %}
                    {% for comment in comments %}
                        <div class="card-content white-text">
                            <p>{{ comment.author }} on {{ comment.date_created }}</p>
                            <p>{{ comment.body }}</p>
                        </div>
                        <hr class="comment-separator">
                    {% endfor %}
                {% else %}
                <div class="card-content white-text">
                    <p>Be the first to comment</p>
                    
                </div>
                <hr class="comment-separator">
                {% endif %}
                
                {% if commented %}
                <div>Comment posted!</div>
                {% else %}

                {% if user.is_authenticated %}
                <div id="comment-field-container">
                    <form method="post" style="">
                        <div class="row">
                            <div class="col s10">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                            </div>
                            
                        </div>
                        <div class="col s2" style="margin-top:15px">
                            <button type="submit" class="btn dark-btn f-right">Send</button>
                        </div>
                        
                    </form>
                    
                    <!-- <textarea id="">hh</textarea> -->
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}